<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--1.数据库连接池-->
    <bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource">
        <property name="username" value="root"></property>
        <property name="password" value="root"></property>
        <property name="url" value="jdbc:mysql://localhost:3306/heima95?characterEncoding=utf8"></property>
        <property name="driverClassName" value="com.mysql.jdbc.Driver"></property>
    </bean>
    <!--2.配置SQLSessionFactoryBean-->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <!--配置数据源-->
        <property name="dataSource" ref="dataSource"></property>
        <!--别名设置-->
        <property name="typeAliasesPackage" value="com.itheima.pojo"></property>
        <!--mybatis核心配置文件-->
        <!--<property name="configuration" value="classpath:SqlMapConfig.xml"></property>-->
        <!--映射文件设置-->
        <!--<property name="mapperLocations">-->
            <!--<array>-->
                <!--<value>com/itheima/*Dao.xml</value>-->
            <!--</array>-->
        <!--</property>-->
    </bean>
    <!--3.接口扫描-->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="com.itheima.dao"></property>
    </bean>
</beans> 